/Cleanable.class
/CommonState.class
/Control.class
/Fallible.class
/GeneralNode.class
/IdleProtocol.class
/Linkable.class
/MaliciousProtocol.class
/ModifiableNode.class
/Network.class
/Node.class
/OracleIdleProtocol.class
/OverlayGraph.class
/Protocol.class
/Scheduler.class
